*{-webkit-tap-highlight-color:transparent;user-select:none;margin:0;padding:0;box-sizing:border-box;outline:none;user-select:none;}
body{background:url(http://tv.tvcluboficial.com///assets/images/back1.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;font-family:'Oswald', sans-serif;color:#fff;}
a{color:#fff;text-decoration:none;display:block;overflow:hidden;}
a:focus-visible, a:focus{background:#151515/*#0000007a*/;color:lime /*#adff2f*/;}
#main{background:#151515/*#181a1f*/;padding:12px 12px;}
header{height:0px/*10px*/;}
.stream-logo{/*width: 86px;height: 72px;*/width: 100%;height: 100%;background-size: contain;background-repeat: no-repeat;background-position: 50%;margin-left: 10px;}
.stream{max-height: 92px;overflow: hidden;padding: 6px;margin-bottom: 20px;}
.stream:active .stream-text{font-weight: bold;}
.stream-focus{background: #0000006e;}
.stream-epg{font-size: .90em;}
.stream-text{font-size: .75em;text-overflow: ellipsis;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;}
#video-player{width:100%;padding-bottom:56.25%;background:#000;min-height:50px;max-height:100vh;}
#stream-current-epg{font-size:1.2em;}
#stream-current-info{font-size:0.9em !important;color:gray;}
@-webkit-keyframes fadein{
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @-moz-keyframes fadein {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                ;
            }
}
#current-logo{width:200px;height:150px;position:absolute;top:50px;left:50%;margin-left:-100px;z-index:1;background-repeat:no-repeat;background-size:contain;/*animation: fadein 5s linear infinite;*/opacity:0;animation-duration:5s;animation-name:fadeout;animation-iteration-count:1;animation-direction:alternate;}
#search{background:#111;border:1px solid #000;color:#fff;}
